//universal-colors
$white: #fff
$darkgrey: #222
$lightgrey: #f7fafc

//icons colors
$icons-pink: #f31f79

//border colors
$border-grey: #eeeeee    

//colors for gradient
$body-bg-gradient-orange: #fd712c
$body-bg-gradient-pink: #f31e7a


