//Backgrounds
@mixin linear-gradient-default
    background: $body-bg-gradient-pink
    background: -moz-linear-gradient(left, $body-bg-gradient-orange 0%, $body-bg-gradient-pink 100%)
    background: -webkit-gradient(linear, left, right, color-stop(0%,$body-bg-gradient-orange), color-stop(100%,$body-bg-gradient-pink))
    background: -webkit-linear-gradient(left, $body-bg-gradient-orange 0%,$body-bg-gradient-pink 100%)
    background: -o-linear-gradient(left, $body-bg-gradient-orange 0%,$body-bg-gradient-pink 100%)
    background: linear-gradient(to right, $body-bg-gradient-orange 0%,$body-bg-gradient-pink 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#{$body-bg-gradient-orange}, endColorstr=#{$body-bg-gradient-pink})

////Media queries

//custom sizes
@mixin medium-widescreen-desktop
    @media screen and (max-width: 1625px)
        @content

@mixin medium-widescreen-laptop
    @media screen and (max-width: 1350px)
        @content

@mixin medium-size-tablet
    @media screen and (max-width: 975px)
        @content

@mixin small-size-smartphone
    @media screen and (max-width: 445px)
        @content

//bootstrap defaults
@mixin boot-strap-xl
    @media screen and (max-width: 1200px)
        @content

@mixin boot-strap-lg
    @media screen and (max-width: 992px)
        @content

@mixin boot-strap-md
    @media screen and (max-width: 768px)
        @content

@mixin boot-strap-sm
    @media screen and (max-width: 576px)
        @content

