@import "colors"
@import "mixins"

*
    box-sizing: border-box
    padding: 0
    margin: 0
    font-size: 14px
    
body
    background-color: $white
    color: $darkgrey
    font-family: 'Roboto', sans-serif

/*line-height correcting*/
p
    line-height: 24px               
h1
    line-height: 60px
    
/*top section building */   
.top-section
    color: $white
    @include linear-gradient-default
    header.container
        padding-top: 30px
    &-menu ul
        list-style: none
        display: flex
        li
            margin-right: 50px
            padding: 11px 0
            a
                color: $white
                text-decoration: none
            #header-download-link
                    padding: 11px 30px
                    background-color: $white
                    border-radius: 50px
                    color: $darkgrey
                    font-weight: 500
    div.container
        margin-top: 145px
        h1
            font-size: 3.9em
            font-family: 'dosis', sans-serif
        p
            margin-top: 25px
            font-weight: 300
        #top-section-list
            margin-top: 25px
            list-style-position: inside 
            list-style-type: none
            li
                display: flex
                margin-bottom: 16px
                align-items: center
                /*initializing additional flex elements for custom list bullets (list-style-image don't looks cool)*/
                .custom-bullet             
                    width: 15px
                    height: 15px
                    margin-right: 20px
                    background-image: url('../img/icons/list-markers/marker1.png')              
        #top-section-button
            margin-top: 35px
            margin-bottom: 214px
            a
                color: $darkgrey
                font-weight: 500
                text-decoration: none
                padding: 12px 45px
                background-color: $white
                border-radius: 50px
                box-shadow: 0 0 14px rgba(0, 0, 0, 0.6)
                //border: #e2612b solid 6px
    /*!!!dynamic size changing on media query needed!!!*/
    #iphones-1
        position: absolute
        top: 150px
        right: 0px
        

/*features-1-section building*/
.features-1-section
    padding-top: 120px
    .feature
        display: flex
        align-items: center
        .feature-logo
            margin-top: 15px
            margin-right: 18px
        h1
            font-size: 1.7em
            font-family: 'dosis', sans-serif
            font-weight: 500
        p
            font-weight: 300
    hr
        margin-top: 122px
        height: 2px
        color: $lightgrey
        background-color: $lightgrey
        border: none

/*features-2-section building*/
.features-2-section
    position: relative
    padding-top: 120px 
    padding-bottom: 180px  
    img
        position: absolute
        top: -56px
        left: 8px
    h1
        margin-bottom: 12px
        font-size: 2.6em
        font-family: 'dosis', sans-serif
        font-weight: 500
    p
        font-weight: 300
    #second-p
        margin-top: 80px
    #features-2-section-list
            margin-top: 25px
            list-style-position: inside 
            list-style-type: none
            li
                display: flex
                margin-bottom: 16px
                align-items: center
                /*initializing additional flex elements for custom list bullets (list-style-image don't looks cool)*/
                .custom-bullet             
                    width: 15px
                    height: 15px
                    margin-right: 20px
                    background-image: url('../img/icons/list-markers/marker2.png')


    
    
/*footer building*/
footer
    color: $white
    background-color: $darkgrey
    a
        color: $white
        text-decoration: none
        &:hover
            color: $icons-pink
    ul
        display: flex
        justify-content: center
        align-items: flex-end
        padding-top: 60px
        padding-bottom: 32px
        list-style: none
        li
            margin-right: 30px
            i
                font-size: 1.2em
    p
        padding-bottom: 60px
        margin-right: 25px
    