@import "colors"
@import "mixins"
@import "sizes"
@import "plugins"
*
    box-sizing: border-box
    padding: 0
    margin: 0
    font-size: $default
    
body
    color: $darkgrey
    font-family: 'Roboto', sans-serif

/*global styles correcting*/
h1,h2
    font-family: 'dosis', sans-serif
        
p
    line-height: 24px               

h2
    font-size: $bigger
    font-weight: 500

a
    text-decoration: none

/*top section building */   
.top-section
    color: $white
    @include linear-gradient-default
    header.container
        padding-top: 30px
    &-menu ul
        list-style: none
        display: flex
        li
            margin-right: 50px
            padding: 11px 0
            a
                color: $white
                text-decoration: none
            #header-download-link
                    padding: 11px 30px
                    background-color: $white
                    border-radius: 50px
                    color: $darkgrey
                    font-weight: 500
                    transition: 0.3s
                    &:hover
                        @include linear-gradient-default
                        color: $white
                        -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.6)
                        -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.6)
                        box-shadow: 0 0 14px rgba(0, 0, 0, 0.6)

    div.container
        margin-top: 145px
        h1
            line-height: 60px
            font-size: $giant
            font-family: 'dosis', sans-serif
            font-weight: 600
        p
            margin-top: 25px
            font-weight: 300
        #top-section-list
            margin-top: 25px
            list-style-position: inside 
            list-style-type: none
            li
                display: flex
                margin-bottom: 16px
                align-items: center
                /*initializing additional flex elements for custom list bullets (list-style-image don't looks cool)*/
                .custom-bullet             
                    width: 15px
                    height: 15px
                    margin-right: 20px
                    background-image: url('../img/icons/list-markers/marker1.png')              
        #top-section-button
            margin-top: 50px
            margin-bottom: 214px
            a
                color: $darkgrey
                font-weight: 500
                text-decoration: none
                padding: 12px 45px
                background-color: $white
                border-radius: 50px
                -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.6)
                -moz-box-shadow: 0 0 14px rgba(0, 0, 0, 0.6)
                box-shadow: 0 0 14px rgba(0, 0, 0, 0.6)
                transition: 0.3s
                //border: #e2612b solid 6px
                &:hover
                    @include linear-gradient-default
                    color: $white
                    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.6)
                    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.6)
                    box-shadow: 0 0 18px rgba(0, 0, 0, 0.6)
    #iphones-1
        position: absolute
        top: 150px
        right: 0px
        

/*features-1-section building*/
.features-1-section
    padding-top: 120px
    .feature
        display: flex
        align-items: center
        &-logo
            margin-top: 15px
            margin-right: 18px
        &-name
            font-family: 'dosis', sans-serif
            display: block
            margin-bottom: 10px
            font-size: $big
            font-weight: 500
        p
            font-weight: 300
            color: $mediumgrey
    hr
        margin-top: 122px
        height: 2px
        color: $lightgrey
        background-color: $lightgrey
        border: none
    .features-row-2
        margin-top: 45px

/*features-2-section building*/
.features-2-section
    position: relative
    padding-top: 120px 
    padding-bottom: 180px  
    img
        position: absolute
        top: -56px
        left: 8px
    h2
        margin-bottom: 12px
    p
        font-weight: 300
        color: $mediumgrey
    #second-p
        margin-top: 80px
    #features-2-section-list
            margin-top: 25px
            list-style-position: inside 
            list-style-type: none
            li
                display: flex
                margin-bottom: 16px
                align-items: center
                /*initializing additional flex elements for custom list bullets (list-style-image don't looks cool)*/
                .custom-bullet             
                    width: 15px
                    height: 15px
                    margin-right: 20px
                    background-image: url('../img/icons/list-markers/marker2.png')

/*Carousel1 section building*/
.carousel-section
    padding-top: 120px
    background: $lightgrey
    h2
        text-align: center
    p
        margin-top: 20px
        margin-bottom: 100px
        font-weight: 300
        text-align: center
        color: $mediumgrey

/*pricing section building*/
.pricing-section
    .first
        margin-top: 120px
        h2
            text-align: center
        p
            margin-top: 20px
            font-weight: 300
            text-align: center
            color: $mediumgrey
    .second 
        margin-top: 80px
        margin-bottom: 120px
        .price-block
            background: $lightgrey
            text-align: center
            &-name
                display: block
                padding-top: 14px
                margin-bottom: 14px
                font-size: $medium
                font-weight: 500
                font-family: 'dosis', sans-serif
            .price-shape-1
                position: relative
                padding-top: 15px
                background: url("../img/backgrounds/price-background.svg")
                height: 120px
                span
                    position: relative
                    font-size: $biggest
                    font-family: 'dosis', sans-serif
                    font-weight: 500
                    sub
                        display: block
                        position: absolute
                        bottom: 7px
                        right: -23px
                        font-size: $smallest
                    sup
                        display: block
                        position: absolute
                        top: 7px
                        left: -12px
                        font-size: $smallest
            ul
                display: flex
                flex-direction: column
                margin-top: 30px
                align-items: center
                list-style: none
                color: $lightgrey3
                li
                    width: 80%
                    padding: 10px 0
                    border-bottom: 1px dashed $border-grey
                    &:last-child
                        border: 0
            .trial
                display: block
                margin-top: 35px
                margin-bottom: 15px
                color: $lightgrey2
            a
                display: inline-block
                padding: 15px 44px
                margin-bottom: 40px
                font-weight: 500
                background: $white
                border: 1px $border-grey solid
                border-radius: 50px
                text-decoration: none
                color: $darkgrey

/*video section building*/
.big-video-section
    #video-container
        display: flex
        justify-content: center
        align-items: center
        height: 400px
        background: $darkgrey
        background: url("../img/backgrounds/video-overlay.png")
        a
            transition: 0.3s
            &:hover
                -moz-transform: translate(0px, -5px)
                -webkit-transform: translate(0px, -5px)
                -o-transform: translate(0px, -5px)
                -ms-transform: translate(0px, -5px)
                transform: translate(0px, -5px)

/*carousel2 section building*/
.reviews-section
    padding-top: 120px
    padding-bottom: 76px //120px-(.owl-stage (default height)-(custom height) = 44px) 
    background: $white
    h2
        text-align: center
    p
        margin-top: 20px
        margin-bottom: 100px
        font-weight: 300
        text-align: center
        color: $mediumgrey
    .owl-carousel
        &__item
            padding: 40px
            background: $lightgrey
            p
                margin-bottom: 30px
                text-align: left
            div
                display: flex
                justify-content: flex-start
                align-items: center
                img
                    width: 80px
                    height: 80px
                .name-comp
                    flex-direction: column
                    align-items: flex-start
                    margin-left: 20px
                    .name
                        font-family: 'dosis', sans-serif
                        font-size: $reviews_name

/*Download section building*/
.download-section
    padding-top: 120px
    padding-bottom: 120px
    @include linear-gradient-default
    h2
        margin-bottom: 87px
        text-align: center
        color: $white
    .download-item
        display: flex
        justify-content: space-between
        align-items: center
        background: $white
        text-decoration: none
        .download-image-container
            align-self: stretch
            background: $lightgrey
            img
                padding: 20px 18px 0 18px
            #download-image-2
                padding-top: 23px
        .download-description
            margin: 23px auto 27px 20px
            .download-label
                display: block
                font-size: $bigger_names
                font-weight: 600
                font-family: 'dosis', sans-serif
                padding-bottom: 7px
                color: $darkgrey
                
            span
                color: $mediumgrey
                font-weight: 300

/*footer building*/
footer
    color: $white
    background-color: $darkgrey
    a
        color: $white
        text-decoration: none
        &:hover
            color: $icons-pink
    ul
        display: flex
        justify-content: center
        align-items: flex-end
        padding-top: 60px
        padding-bottom: 32px
        list-style: none
        li
            margin-right: 30px
            i
                font-size: $icons_size
            /*adjusting paddings manually, cause of glyps sizes are notequal to each other*/
            &:first-child
                padding-bottom: 0.5%
            &:nth-child(2)
                padding-bottom: 0.2%
            &:nth-child(3)
                padding-bottom: 0.35%
    p
        padding-bottom: 60px
        margin-right: 25px
    